* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-top: 5%;
  margin-bottom: 5%;
}

body {
  background: whitesmoke;
  overflow-y: hidden;

}
h1,
h4 {
  color: #6e41e2;
}

.row {
  /* background: #d1d8fc; */
  background: #f6f7fc;
  border-radius: 30px;
}

.img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.btn1 {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: #6e41e2;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.btn1:hover {
  background: white;
  border: 1 px solid;
  color: black;
}
